body {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    width: 1920px;
}
/* header section here */

.header-section{
    display: flex;
    background: #E554731A;
    background-position: bottom right;
    background-size: auto;
    justify-content: space-between;
    align-items: bottom right;
    padding: 0 240px;
}
#header-column-1{
    width: 708px;
}

.header-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    text-align: left;
    width: 708px;
    margin-top: 150px;
    margin-bottom: 32px;
}
.header-description{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    width: 634px;
    margin-top: 0;
    margin-bottom: 32px;
}
.primary-btn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
    /* margin-bottom: 147px; */
}
.header-img{
   
    width: 635px;
    height: 900px;
    left: 1045px;
    right: 240px;
    padding-top: 100px;
    margin-bottom: 4017px;
}